---
title: Jason Hough
---
<%= partial 'partials/head' %>

<%= partial 'partials/header' %>

<div class="colored-row">
  <%= partial 'partials/about' %>
</div>

<%= partial 'partials/quotes' %>

<div class="colored-row">
  <%= partial 'partials/experience' %>
</div>

<%= partial 'partials/projects' %>

<div class="colored-row">
  <%= partial 'partials/footer' %>
</div>
